body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #160845;
  background-image: url("eye.jpg");
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: red;
  text-decoration: none;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #160845;
}
.title{
  background-color: red;
  color: #160845;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: top, left .2s;
}